h2{
    color: aqua; font-size: larger;
}
p{
    color: brown; font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:blueviolet; background-color: rgb(196, 196, 221); 
}
body{
    color:blueviolet; background-color: rgb(208, 209, 139);
}
p{
    font-style: italic; font-family: Arial, Helvetica, sans-serif 
}
h1{
    text-decoration: underline;
}
body{
    background-image: linear-gradient(to bottom,rgb(27, 124, 189),rgb(104, 5, 124),rgb(221, 96, 23),rgb(163, 47, 144),rgb(97, 28, 209));
    }
    main{
        background-image: linear-gradient(to top, rgb(234, 216, 193),rgb(216, 239, 209),rgb(181, 185, 236));
        border-radius: 15px;
        box-shadow:10px,10px,10px, rgba(52, 43, 54, 0.356);
        padding:10px;
        margin:80px;
    }
    /* id em html e # em css*/
    /* class em html e . em css*/
        h1{
            color: brown;
            text-align: center;
        }
       #PRINCIPAL{
        text-align: center;
        color: aqua;
        font-size:4em;
    
       }
        h2{
            text-align: justify;
            background-color: blueviolet; color: black;
        }
    div{
        display:inline-block;
        background-color: blue;
        color: aliceblue;
        text-align:center;
        height: 200px;
        width: 200px;
    
    
    }
    p{ text-align: left; color: black;}


